@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #6a11cb, #b8b4e4);
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: url("https://raw.githubusercontent.com/Chalarangelo/wave-animation/master/wave.svg");
  background-size: cover;
  animation: moveWaves 6s infinite linear;
}

@keyframes moveWaves {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.waves::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  top: -10px;
  opacity: 0.5;
  animation: moveWaves 8s infinite linear reverse;
}
.NavText {
  color: red;
  background-color: aqua;
}

.loginContainer {
  top: 10px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 700px;
  /* background-color: #f9fafc; */
  background-color: white;
}

.loginNav h1 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  color: #9089ee;
  display: flex;
  justify-content: left;
  padding: 5px;
}
